In [1]:
import pandas as pd
from label_data import Labeler

In [2]:
data = Labeler(
    "NAS100_M10_201707030100_202209292350.csv", "200_200_totals.csv"
).run()
data

,date,open,high,low,close,spread,operable,sma_high,sma_low
0,2017-07-06 07:00:00,5636.1,5637.1,5635.7,5636.7,1,1,5620.451733,5615.619059
1,2017-07-06 07:10:00,5636.9,5638.4,5636.5,5638.2,1,1,5620.385891,5615.570050
2,2017-07-06 07:20:00,5638.1,5638.7,5637.2,5637.7,1,1,5620.322772,5615.524752
3,2017-07-06 07:30:00,5637.4,5638.7,5637.4,5638.5,1,1,5620.264356,5615.470545
4,2017-07-06 07:40:00,5638.7,5638.9,5637.5,5638.0,1,1,5620.205198,5615.411634
...,...,...,...,...,...,...,...,...,...
183845,2022-09-29 23:10:00,11171.9,11181.2,11169.2,11177.1,19,1,11326.389604,11298.129950
183846,2022-09-29 23:20:00,11176.4,11178.6,11172.5,11174.4,19,1,11326.166089,11297.913861
183847,2022-09-29 23:30:00,11174.6,11176.6,11166.6,11167.3,19,1,11325.906188,11297.666584
183848,2022-09-29 23:40:00,11167.3,11172.8,11166.3,11172.3,19,1,11325.635891,11297.403465
183849,2022-09-29 23:50:00,11172.5,11174.8,11167.4,11171.3,19,1,11325.368069,11297.141089